<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<footer>
  <div id="contactForm-div">
    <p style="font-size: 16px; font-weight: bold;">Leave a Message</p>
    <form id="form" action="https://formspree.io/tranx959@umn.edu" method="POST">
      <div class="field">
        <input type="text" name="Name" placeholder="Your name">
      </div>
      <div class="field">
        <input type="email" name="_replyto" placeholder="Your email">
      </div>
      <div class="field">
        <input type="textarea" name="Messsage" placeholder="What's up?">
      </div>
      <div class="field">
        <input type="submit" value="Send" id="submitBtn">
      </div>
      <input type="text" name="_gotcha" style="display:none">
      <!--redirect to current page-->
      <input type="hidden" name="_next" value="./dactl/">
    </form>
  </div>
  <span>{{ site.blog.description }}</span>
  <span>written by {{ site.author.fullname }}</span>
  <div style="font-size: 40px;">
    <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank" class="socialBtn">
        <i class="fa fa-linkedin-square"></i>
    </a>
    <a href="https://github.com/{{ site.author.github }}" target="_blank" class="socialBtn">
        <i class="fa fa-github"></i>
    </a>
  </div>

</footer>
