<footer>
    <div id="contactForm-div">
      <p style="font-size: 16px; font-weight: bold;">Leave a Message</p>
      <form id="form" action="https://formspree.io/tranx959@umn.edu" method="POST">
        <input type="text" name="Name" placeholder="Your name">
        <input type="email" name="Email" placeholder="Your email">
        <input type="textarea" name="Messsage" placeholder="What's up?">
        <input type="text" name="_gotcha" style="display:none">
        <input type="submit" value="Send" id="submitBtn">
        <!--redirect to current page-->
        <input type="hidden" name="_next" value="./dactl/">
      </form>
    </div>
    <span>{{ site.blog.description }}</span>
    <span>written by {{ site.author.fullname }}</span>

</footer>

<style>
#form{
  display: grid;
}
#contactForm-div{
  padding:1em;
  margin:10px;
  border: 1px solid #999;
}
#form input{
  width: 70%;
  padding: 10px;
  border: none;
  margin:10px auto;
  transition: border ease-in 0.3s;
  border: 1px solid rgba(0,0,0,0); /*Transparent border*/
}
#form input:focus{
  border-bottom: 1px solid #3ca2fc;
  outline: 0;
}
#submitBtn{
  padding: 10px 20px;
  background: #1e90ff;
  font-size: 13px;
  width: 80px !important;
  margin: 20px auto;
  text-align: center;
}
#submitBtn:hover{
  background: #2895ff;
}
</style>
