// Footer
//-------------------------------

footer {
    font-size: 0.85em;
    color: var(--text-color-light);
    text-align: center;
    line-height: $base-line-height;
}

#disqus_thread {
    margin-top: 100px;
}
#form {
  display: grid;
}
#contactForm-div {
  width: 70%;
  min-width: 300px;
  padding: 1em;
  margin: 1em auto;
  border: 1px solid #999;
  background: rgba(242,249,255,0.45);
}
.field{
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#form input {
  padding: 10px;
  transition: border ease-in 0.3s;
  -webkit-transition: border ease-in 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.6);
  /*Transparent border*/
}
#form input:focus {
  border-bottom: 1px solid #3ca2fc;
  outline: 0;
}

#submitBtn {
  padding: 10px 20px;
  background: #07c;
  color: white;
  font-size: 13px;
  width: 80px !important;
  margin: 20px auto;
  text-align: center;
}

#submitBtn:hover {
  background: #2895ff;
}
.socialBtn:hover{
  text-decoration: none !important;
}
