@font-face {
  font-family: 'icomoon';
  src: url("../vendors/icomoon.eot?rgtjmm");
  src: url("../vendor/icomoon.eot?rgtjmm#iefix") format('embedded-opentype'), url("../vendor/icomoon.ttf?rgtjmm") format('truetype'), url("../vendor/icomoon.woff?rgtjmm") format('woff'), url("../vendor/icomoon.svg?rgtjmm#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more_horiz:before {
  content: "\e905";
}

.icon-invert_colors:before {
  content: "\e906";
}

.icon-local_offer:before {
  content: "\e904";
}

.icon-droplet:before {
  content: "\e90b";
}

.icon-podcast:before {
  content: "\e91c";
}

.icon-search:before {
  content: "\e900";
}

.icon-language:before {
  content: "\e9ca";
}

.icon-warning:before {
  content: "\ea07";
}

.icon-info:before {
  content: "\ea0c";
}

.icon-check_box:before {
  content: "\ea10";
}

.icon-checkbox-checked:before {
  content: "\ea52";
}

.icon-code:before {
  content: "\ea7f";
}

.icon-twitter:before {
  content: "\e901";
}

.icon-dribbble:before {
  content: "\e902";
}

.icon-github:before {
  content: "\eab0";
}

.icon-linkedin:before {
  content: "\e903";
}
/*Pure CSS icon for Email */

.icon-mail {
  height: 20px;
  top: 4px;
  width: 28px;
}

.icon-mail:after,
.icon-mail:before {
  border-top: none;
  top: 6px;
  width: 13px;
}

.icon-mail:after {
  left: -2px;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
}

.icon-mail:before {
  right: -2px;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
}
